@use 'custom' as *;

#whoweare {
  margin-top: 5rem;
  position: relative;
  background-color: #c3f905;
  width: 100%;

  .text {
    width: 50%;
    margin-left: 1rem;

    .heading {
      position: absolute;
      top: -2.5rem;
      font-size: 4rem;
      font-weight: 800;
      max-width: 30rem;
    }

    .content {
      margin-top: 4rem;
      p {
        font-size: 1.2vw;
        margin-left: 1rem;
      }
    }
  }

  .image {
    margin-right: 1rem;
    width: 50%;
    display: flex;
    justify-content: center;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  @media screen and (max-width: 800px) {
    .text {
      .heading {
        font-size: 10vw;
        margin-left: 0;
        left: 1rem;
        width: 80%;
      }
      .content {
        margin-top: 5rem;
        p {
          font-size: 2vw;
        }
      }
    }
    .image {
      width: 100%;
    }
    .d-flex {
      flex-direction: column-reverse;
      justify-content: center !important;
      align-items: center;

      .image {
        margin-top: 5rem;
        margin-right: 0;
      }

      .text {
        width: 80%;
      }
    }
  }
  @media screen and (max-width: 900px) {
    .text {
      .content {
        p {
          font-size: 3vw;
        }
      }
    }
  }
  @media screen and (max-width: 500px) {
    .text {
      margin-left: 0;
      .content {
        p {
          font-size: 1.2rem;
        }
      }
    }
  }
  @media screen and (max-width: 1200px) {
    .content {
      p {
        font-size: 2vw;
      }
    }
  }
}

#whychooseus {
  margin-top: 10rem;
  background: linear-gradient(#dcdcdc 75%, #ffffff 25%);
  position: relative;
  padding-top: 4rem;

  .heading {
    position: absolute;
    top: -3.59rem;
    right: 1rem;
    font-weight: 900;
    font-size: 4rem;
    background: linear-gradient(#b6ea01 60%, #93c700 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text {
    width: 30%;
  }

  .image {
    width: 70%;
    margin-top: 3%;

    .caption {
      padding-right: 15%;
      width: 100%;
      text-align: center;
    }

    .illustration {
      width: 25%;
    }
  }

  @media screen and (max-width: 1120px) {
    background: linear-gradient(#dcdcdc 100%, #ffffff 0%);

    .fluid-container {
      flex-direction: column;

      .text {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .content {
        width: 80%;
        display: flex;
        justify-content: center;
      }
    }

    .image {
      width: 100%;
    }
  }

  @media screen and (max-width: 640px) {
    .heading {
      font-size: 3rem;
      top: -2.75rem;
    }
  }

  @media screen and (max-width: 478px) {
    .heading {
      font-size: 2rem;
      top: -1.75rem;
    }
  }
}

#whymerchendise {
  margin-top: 10rem;
  display: flex;
  justify-content: center;

  .center {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;

    .background {
      z-index: -5;
      width: 120%;
      height: 120%;
      position: absolute;
      top: -10%;
      right: 0;

      display: flex;
      justify-content: center;
      align-items: center;

      .blob {
        height: 100%;
        width: 100%;
      }

      .blob-inside {
        position: absolute;
        height: 80%;
        width: 80%;
      }
    }

    .image {
      width: 35rem;
      height: 35rem;
      position: relative;
      img {
        height: 100%;
        width: 100%;
      }
    }

    .text {
      width: 50%;
      .heading {
        word-wrap: break-word;
        margin-inline: 1rem;
        font-size: 3rem;
        font-weight: 800;
        color: #828282;
      }

      .content {
        color: #828282;
        font-weight: 500;
        font-size: 1.2rem;
        width: 80%;
        margin-left: 10%;
      }

      .content p:nth-child(odd) {
        margin-left: 40%;
      }

      .content p:nth-child(even) {
        margin-top: 3rem;
        width: 80%;
      }
    }
  }

  @media screen and (max-width: 952px) {
    overflow-x: hidden;
    margin-top: 0;
    .center {
      flex-direction: column-reverse;
      align-items: center;

      .background {
        margin: auto;
        width: 40rem;
        right: -25%;
        top: 3%;
        .blob {
          height: 100%;
          width: 100%;
        }

        .blob-inside {
          position: absolute;
          height: 80%;
          width: 80%;
        }
      }

      .image {
        display: flex;
        justify-content: center;
        align-items: baseline;
        width: 25rem;

        img {
          margin-top: 25%;
          width: 25rem;
          height: 25rem;
        }
      }

      .text {
        margin-top: 4rem;
        margin-left: 1.5rem;
        width: 100%;
        .heading {
          margin-inline: 0;
          font-size: 2rem;
        }
        .content {
          margin-left: 1rem;
        }
        .content p:nth-child(odd) {
          margin-left: 0;
        }
      }
    }
  }
}

#doyouknowthat {
  padding-top: 10rem;
  display: flex;
  justify-content: center;

  .center {
    width: 100%;
    flex-direction: row-reverse;
    position: relative;
    display: flex;
    justify-content: space-around;

    .background {
      z-index: -5;
      width: 130%;
      height: 130%;

      position: absolute;
      top: -20%;
      left: -20%;
      display: flex;
      justify-content: center;
      align-items: center;

      .blob {
        height: 100%;
        width: 100%;
      }

      .blob-inside {
        position: absolute;
        height: 80%;
        width: 80%;
      }
    }

    .heading {
      color: #828282;
      font-weight: 600;
      font-size: 1.5rem;
      position: absolute;
      left: 50%;
      top: -5%;
    }

    .text {
      width: 40%;

      .content {
        color: #828282;
        font-weight: 500;
        font-size: 1.2rem;
        margin-top: 5rem;
      }
    }

    .image {
      position: relative;
      margin-left: 10rem;
      width: 30rem;
      height: 30rem;
      margin-left: 20%;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 952px) {
    margin-left: 0;
    overflow-x: hidden;
    .center {
      flex-direction: column-reverse;
      align-items: center;

      .background {
        margin: auto;
        left: -20%;

        .blob {
          height: 100%;
          width: 100%;
        }

        .blob-inside {
          position: absolute;
          height: 80%;
          width: 80%;
        }
      }

      .heading {
        margin-top: 5rem;
        font-size: 1.8rem;
        position: initial;
      }

      .image {
        margin-left: 0;
        width: 25rem;
        height: 25rem;
        img {
          margin-top: 0;
          height: 100%;
          width: 100%;
        }
      }

      .text {
        margin-left: 2rem;
        width: 80%;
        .content {
          margin-left: 1rem;
          font-size: 1.2rem;
        }
      }
    }
  }
}

#advertisingspecialty {
  margin-top: 15rem;
  display: flex;
  justify-content: center;

  .center {
    position: relative;
    width: fit-content;
    display: flex;
    justify-content: center;

    .background {
      z-index: -5;
      width: 100%;

      position: absolute;
      top: 0%;
      right: 0%;

      display: flex;
      justify-content: center;
      align-items: center;

      .blob {
        height: 100%;
        width: 100%;
      }

      .blob-inside {
        position: absolute;
        height: 80%;
        width: 80%;
      }

      .blob-inside-2 {
        position: absolute;
        height: 79%;
        width: 79%;
      }
    }

    .text {
      width: 40%;
      .heading {
        color: #828282;
        font-weight: 600;
        font-size: 1.5rem;
      }

      .content {
        margin-top: 1rem;
        margin-inline: 1rem;
        padding-right: 5rem;
        font-size: 1.2rem;
        color: #828282;
      }
    }

    .image {
      position: relative;
      width: 30%;

      img {
        margin-top: 10rem;
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 952px) {
    margin-top: 5rem;
    align-items: center;
    overflow-x: hidden;

    .center {
      flex-direction: column-reverse;
      align-items: center;
      .background {
        margin: auto;
        left: -5%;
        top: -30%;
        .blob {
          height: 100%;
          width: 100%;
        }

        .blob-inside {
          position: absolute;
          height: 80%;
          width: 80%;
        }
      }

      .heading {
        margin-top: 5rem;
        font-size: 1.8rem;
        position: initial;
      }

      .image {
        width: 25rem;
        height: 15rem;
        margin-bottom: 2rem;
        img {
          margin-top: 5rem;
          height: 100%;
          width: 100%;
        }
      }

      .text {
        width: 80%;
        margin-left: 2rem;

        .content {
          margin-left: 1rem;
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 530px) {
  .background {
    .blob {
      width: 30rem !important;
      height: 30rem !important;
    }

    .blob-inside {
      width: 25rem !important;
      height: 25rem !important;
    }
  }
}
