@use 'custom' as *;

@font-face {
  font-family: 'Font';
  src: url('../assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Lead';
  src: url('../assets/fonts/Oswald-VariableFont_wght.ttf') format('truetype'); 
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Font', sans-serif;
  scroll-behavior: smooth;
  list-style: none;
}

.bdr-round {
  border-radius: 0.5rem;
}

