@use 'custom' as *;
#contact{
  .hero{
    width: 100%;
    max-height: 15rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    img{
      width: 100%;
    }
  }
  .fluid-container{
    margin-top: 3rem;
    padding-inline: 3rem;
    display: flex;
    justify-content: space-around;
    .address,.form{
      .heading{
        h3{
          font-size: 1.5rem;
          font-weight: 700;
          padding-bottom: 2rem;
        }
      }
      .desc{
        width:80%;
      }
    }
    .form{
      .fname,.lname,.email,.company-name,.message,.review,.sector,.future-ref{
        display: flex;
        flex-direction: column;
        margin: 1rem;
        input,select{
          border: 1px solid #cfcfcf;
          background-color: #f1f1f1;
          border-radius: 5px;
          height: 2.5rem;
          padding: 1.5rem;
          outline: none;
        }
        label{
          padding-block: 0.5rem;
        }

      }
      .submit{
        margin: 1rem;
        border: 1px solid rgb(135, 135, 135);
        padding: 0.5rem 1rem;

        &:hover{
          background-color: #afafaf;
          color: #fff;
          border: 1px solid #afafaf;
        }
      }
    }

  }
}
