$primary: #c3f905;
$secondary: #7a0e32;
$tertiary:  #f9f7ef;
$black: #091109;
$grey: #cbc7c8;
$dark-grey: #7d7d7d;
$white: #ffffff;

$green1: #018a88;

$blue1: #65a0b5;
$blue2: #009790;
$blue3: #9ccbc2;
$blue4: #004056;

$pink1: #c79ba3;
$pink2: #e6a88d;

$red: #d33837;
$yellow: #ebd500;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

