@use './custom' as *;
@use './body' as *;

footer {
  padding-top: 0.75rem;
  background-color: $tertiary;
}

.contact {
  position: relative;

  &__icon {
    width: 2.125rem;
    padding-top: 0.5rem;

    @include media-breakpoint-up(sm) {
      width: 3.75rem;
    }
  }

  a {
    text-decoration: none;
    color: $white;
    font-size: 1rem;

    @include media-breakpoint-up(sm) {
      font-size: 1.4rem;
    }
  }

  p {
    font-size: 0.86rem;
    color: rgba($gray-300, 0.6);

    @include media-breakpoint-up(sm) {
      font-size: 1rem;
    }
  }

  &__info {
    padding: 0.4rem 0.2rem;
    font-weight: 600;

    @include media-breakpoint-up(sm) {
      padding: 0.4rem;
    }

  }
}

.f-social {
  a {
    color: $black;

    svg {
      font-size: 1rem;
      margin: 0 1rem;

      @include media-breakpoint-up(sm) {
        font-size: 2.5rem;
      }
    }
  }
}

.f-inline {
  width: 60px;
  height: 2px;
}

.growigh {
  text-decoration: none;
  font-size: 1.1rem;
  color: rgba($white, 0.8);

  .growigh__name {
    color: rgba($white, 0.60);
    font-weight: 600;

    &__w {
      color: rgba(#ffb428, 0.60);
      font-weight: 600;
    }
  }

}

.btt {
  position: fixed;
  z-index: 100;
  width: 2.4rem;
  height: 2.4rem;
  right: 1rem;
  background-color: $primary;

  @include media-breakpoint-up(sm) {
    width: 3rem;
    height: 3rem;
    right: 1.8rem;
  }

  svg {
    color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.btt__chevron-up {
  bottom: 1rem;
  background-color: $primary;

  @include media-breakpoint-up(sm) {
    bottom: 1.8rem;
  }
}

.btt__whatsapp {
  bottom: 4rem;
  background-color: #49C95A;

  @include media-breakpoint-up(sm) {
    bottom: 5.8rem;
  }
}

.icon-chevron-up {
  @include media-breakpoint-up(sm) {
    font-size: 1.6rem;
  }
}

.icon-whatsapp {
  @include media-breakpoint-up(sm) {
    font-size: 2rem;
  }
}