@use './custom' as *;
@use './body' as *;

footer {
  padding-top: 0.75rem;
  background-color: $black;
  color: $primary;

  

  a { text-decoration: none; }

  ul {
    list-style: none;
    font-size: 1.2rem;

    li { padding-bottom: 0.675rem; }
  }
}

.dowload-catalogue {
  text-decoration: none;
  font-size: 1.2rem;
}

.dowload-catalogue-img { max-width: 120px; }

.f-social {
  svg {
    font-size: 1rem;
    margin: 0 0.675rem;

    @include media-breakpoint-up(sm) { font-size: 2.5rem; }
  }
}

.growigh {
  font-size: 1.05rem;
  color: rgba($white, 0.99);

  .growigh__name {
    color: rgba($white, 0.99);
    font-size: 1.2rem;

    &__w { color: rgba(#ffb428, 0.99); }
  }
}

.btt {
  position: fixed;
  z-index: 100;
  width: 2.4rem;
  height: 2.4rem;
  right: 1rem;
  background-color: $primary;

  @include media-breakpoint-up(sm) {
    width: 3rem;
    height: 3rem;
    right: 1.8rem;
  }

  svg {
    color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.btt__chevron-up {
  bottom: 1rem;
  background-color: $primary;

  @include media-breakpoint-up(sm) { bottom: 1.8rem; }
}

.btt__whatsapp {
  bottom: 4rem;
  background-color: #49C95A;

  @include media-breakpoint-up(sm) { bottom: 5.8rem; }
}

.icon-chevron-up {
  @include media-breakpoint-up(sm) {
    font-size: 1.6rem;
  }
}

.icon-whatsapp {
  @include media-breakpoint-up(sm) {
    font-size: 2rem;
  }
}