header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: $color-primary;
  color: $color-white;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
}

nav {
  svg {
    width: 2rem;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}