#hero {
  overflow: hidden;
  align-items: center;
  justify-content: center;

  .carousel-item {
    height: 80vh;
    .text{
      position: absolute;
      color:#cdcec8;
      top: 15%;
      left: 15%;
      animation: apper 2s forwards;
      .color1{
        color: #82bbcf;
      }
      .color2{
        color: #febe43;
      }
      .color3{
        color: #d5a0ba;
      }
    }
    @keyframes apper {
      0%{
        top: 10%;
        opacity: 0;
      }
      100%{
        top: 15%;
        opacity: 1;
      }
      
    }
    img {
      float: right;
      height: 100%;
      max-width: 80%;
    }
  }
}
