@use './custom' as *;
@use './body' as *;

.navbar {
  position: sticky;
  top: 5rem;
  margin-bottom: 50rem;
  width: 20rem;
  margin-top: 5rem;
  .nav-container{
    width: 100%;
    .row{
      width: 100%;
    }
  }
}

.col-2 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0;
  padding-left:1% ;
}

.product_left {
  padding-right: 0;
  ul {
    padding: 0;
    padding-left: 0.5rem;
    margin-bottom: 0;
  }

  .cat_btn {
    width: fit-content;
    text-align: left;
    border: none;
    font-weight: 500;
    display: flex;
    color: black;
    background-color: transparent;
    font-size: 1.5rem;
    @media screen and (max-width:565px) {
      font-size: 1rem;
      
      .btn{
        padding-block: 0;
      }
    }
  }

  .element {
    font-family: 'Font';
    font-weight: 500;
    font-size: 1rem;
    padding-bottom: 1px;
    padding-top: 0.5rem;
    display: block;
    color: black;
    transition-duration: 0.5s;
    cursor: default;
    @media screen and (max-width: 1213px) {
      font-size: 0.8rem;
    }
  }

  .element.active {
    font-weight: 600;
    width: fit-content;
    border-bottom: 2px solid #ff808b;
  }

  .element.true {
    color: transparent;
    border: none;
  }

  .list {
    height: 2.1rem * 21;
    transition-duration: 0.5s;
    overflow: hidden;
  }
  .list.uniform {
    height: 2.3rem * 2;
  }
  .btn {
    transform: rotate(-180deg);
    transition: all 0.5s linear;
    outline: none;
    border: none;
  }

  .list.active {
    height: 0px;
  }

  .btn.active {
    transform: rotate(0deg)
  }
}

@media screen and (max-width: 1213px) {
  .uniform,.categories,.navbar{
    background-color: #faf8f1;
  }
  .uniform,.categories{
    min-width: 40%;
  }
  
  .product_left{
    padding-block: 1rem;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    
  }
  .navbar{
    width: 100%;
    top: 3.2rem;
    padding-bottom: 0;
    margin-top: 0;

  }
  .row{
    flex-direction: column;
    
    width: 100%;
    margin-left: 0;
    .col-2{
      height:1vh;
      width: 100%;
      position: sticky;
      top: 4.5rem;
      padding-inline: 0;
      background-color: #faf8f1;
      z-index: 98;
    }
    .col-10{
      width: 100%;
      padding-inline:0 ;
    }
  }
}