@use 'custom' as *;
#product {
  background-color: rgba($tertiary, 0.85);

  a { text-decoration: none; }
  .hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    animation: cover-apper 5s forwards;
    position: relative;
    img{
      width: 100%;
    }
    .text {
      position: absolute;
      top: 40%;
      left: 5%;
      color: $font-color;
      animation: apper 2s forwards;
      .heading {
        font-weight: 800;
        font-size: 5rem;
        letter-spacing: 4px;
      }
      .content {
        width: 40%;
        font-size: 1.5rem;
        word-wrap: break-word;
        letter-spacing: 3px;
      }
    }
  }
}

.product-type {
  
  width:100%;
  .heading {
    margin-top: 1rem;
    padding-block: 1rem;
    font-size: 1.5rem;
    font-family: "Font";
    position: sticky;
    top: 3.5rem;
    width: 100%;
    z-index: 98;
    background-color: #faf8f1;
    font-weight: 500;
    span {
      color: $primary;
      font-family: 'Lead1';
      font-size: 1.5rem;
      font-weight: 700;
    }
  }

  .arr_card {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &::-webkit-scrollbar { display: none; }

    .card {
      max-width: 20rem;
      min-width: 20rem;
      height: 25rem;
      margin-inline: 0.7rem;

      // overflow: hidden;
      .image {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        object-fit: center;
        overflow: hidden;

        img {
          padding: 1rem;
          transition: all 0.5s ease-in-out;
          object-fit: cover;
          height: 100%;

          &:hover { transform: scale(1.1); }
        }
      }

      .content {
        padding: 1rem;
        background-color: white;

        h6 {
          font-weight: 700;
          font-size: 1.3rem;
        }

        p { margin: 0; }
      }
    }
  }

}