@use 'custom' as *;

#product {
  background-color: rgba($tertiary, 0.85);

  a {
    text-decoration: none;
  }

  .hero {
    
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.568) 50%, rgba(253, 253, 253, 0)),url('../assets/images/Product/products-cover.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    animation: cover-apper 5s forwards;
    position: relative;
    height: 40vw;

    
    img::before {
      content: ""; /* Required for pseudo-elements */
      position: absolute; /* Position the gradient overlay */
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%); /* Define your gradient here */
      pointer-events: none; /* Allows clicks to pass through the overlay to the image */
    }
    

    .text {
      position: absolute;
      top: 30%;
      left: 5%;
      color: $font-color;
      animation: apper 2s forwards;
      .heading {
        font-weight: 800;
        font-size: 3vw;
        letter-spacing: 4px;
      }

      .content {
        width: 40%;
        font-size: 1.5vw;
        word-wrap: break-word;
        letter-spacing: 3px;
      }
    }
  }
}

.product-type {

  width: 100%;

  .heading {
    margin-top: 3.8rem;
    font-size: 1.5rem;
    font-family: "Font";
    position: sticky;
    top:4rem;
    width: 100%;
    
    z-index: 96;
    background-color: #faf8f1;
    font-weight: 500;
    padding-block: 1.5rem;
    @media screen and (max-width: 952px) {
      top:8.5rem;
      z-index: 90;
      padding-block: 0;
      padding-inline:5% ;
    }
    @media screen and (max-width: 565px) {
      font-size: 1rem;
    }

    span {
      color: $primary;
      font-family: 'Lead1';
      font-size: 1.5rem;
      font-weight: 700;
    }
  }

  .arr_card {
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width:952px) {
      justify-content:start;
    }
    width: 100%;

    &::-webkit-scrollbar {
      display: none;
    }

    .card {
      width: 20rem;
      height: 25rem;
      margin-bottom: 2rem;
      margin-inline: 0.7rem;
      

      // overflow: hidden;
      .image {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        object-fit: center;
        overflow: hidden;

        img {
          padding: 1rem;
          transition: all 0.5s ease-in-out;
          object-fit: cover;
          height: 100%;

          &:hover {
            transform: scale(1.1);
          }
        }
        
      }

      .content {
        padding: 1rem;
        background-color: white;

        h6 {
          font-weight: 700;
          font-size: 1.3rem;
        }

        p {
          margin: 0;
        }
      }
      @media screen and (max-width: 552px) {
        margin-inline:0.2rem;
        margin-bottom: 0.2rem;
        width: 10rem;
        height: 15rem;
        .content{
          h6{
            font-size: 1rem;
          }
        }
      }
    }
  }

}