@use './custom' as *;
@use './body' as *;

#testimonial{
  background-color: $primary;
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .heading{
    font-size: 1.8rem;
    width: 50%;
    text-align: center;
  }
  .carousel-inner{
    width: 50% !important;
    display:flex;
    justify-content: center;
  }

  .content{
    font-size: 1.2rem;
    padding-block: 2rem;
  }
  .carousel-item{
    margin-right: initial !important;
  }
  .imagelogo{
    height: 10rem;
    display: flex;
    justify-content: center;
    img{
      height: 100%;
    }
  }
}
